:root {
    --mainColor : #080808;
    --secondaryColor: #101010;
    --thirdColor: #0C0C0D;
    --accentColor: #CB610E;
    --onPrimaryColor: #E1DED8;
}

body {
    background-color: var(--mainColor);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.navigasi {
    display: flex;
}