* {
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    background-color: white;
    width: 800px;
    margin: 0 auto;
}

/* header */
.header {
    height: 60px;
    background-color: salmon;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.header ul {
    display: flex;
    width: 50%;
    justify-content: space-around;
    box-sizing: border-box;
}

.header ul li {
    list-style: none;
    padding: 5px;
}

.header ul li a {
    font-size: 0.8em;
    text-decoration: none;
    color: white;
    padding: 5px;
}

.header ul li a:hover {
    color: grey;
    background-color: white;
    padding: 5px;
    border-radius: 4px;
}

/* content */
.content {
    padding: 10px;
}

.content html {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
}

th, td {
    padding: 8px;
    border: 1px solid #ddd;
}

th {
    background-color: lightgreen;
}

tr:nth-child(even) {
    background-color: rgb(197, 255, 236);
}

tr:hover {
    background-color: #ddd;
}

/* footer */
.footer {
    display: flex;
    background-color: salmon;
    height: 40px;
    justify-content: center;
    align-items: center;
}