.content {
    display: flex;
}

.foto img {
    width: 200px;
}

/* detail */
.detail h2 {
    margin-bottom: 10px;
    color: #333;
    font-family: cursive;
}

td:first-child {
    text-align: end;
}

td:last-child {
    text-align: start;
}

/* input */
input {
    padding: 10px;
    width: max-content;
}

select {
    padding: 10px;
    width: 100%;
}

button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    background-color: green;
    color: white;
}