div {
    width: 200px;
    height: 200px;
}

.satu {
    background-color: tomato;
}

.dua {
    background-color: limegreen;
    position: relative;
    top: 30px;
    left: 30px;
}

.tiga {
    background-color: skyblue;
}

/* Position
-> static
-> relative: top, left, bottom, right
-> absolute
-> fixed*/