.satu {
    width: 200px;
    height: 200px;
    background-color: lightgreen;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-right: 100px;
}

.dua {
    width: 100px;
    height: 100px;
    background-color: lightcoral;
    margin: 50px;
}

.tiga {
    width: 50px;
    height: 50px;
    background-color: skyblue;
}